{% extends "admin/base.html" %}

{% block title %}Billing{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Billing Admin</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
